/* TestQuestionView.css */

.card {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
}

.card-body {
    background-color: #f8f9fa;
}

.question-text h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.formula-section, .image-section {
    margin-top: 1rem;
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 8px;
}

.formula-section strong {
    font-size: 1.1rem;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

button {
    font-weight: bold;
}

button:disabled {
    background-color: #6c757d;
}

button:enabled {
    background-color: #007bff;
    border-color: #007bff;
}

/* Styling for ListGroup items */
.list-group-item {
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #007bff;
    color: white;
}

.list-group-item:active {
    background-color: #0056b3;
}

.selected-answer {
    border-color: #0056b3 !important; /* Darker blue border */
}
